<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (tap)="back()">
      <ion-back-button [text]="backText" class="show-back-button"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-card class="ion-text-center ion-no-margin ion-padding">
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">手机号</ion-label>
          <ion-input formControlName="mobile"></ion-input>
        </ion-item>
        <div *ngIf="mobileCtl.invalid && mobileCtl.touched" class="p-5 ion-text-left">
          <p class="error" *ngIf="mobileCtl.errors.required">手机号码不能为空</p>
          <p class="error" *ngIf="!mobileCtl.errors.required && mobileCtl.errors.mobile">
            手机号码不合法
          </p>
          <!-- <div>
            {{ mobileCtl.errors | json }}
          </div> -->
        </div>
        <ion-item>
          <ion-label position="floating">密码</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div *ngIf="passwordCtl.invalid && passwordCtl.touched" class="p-5 ion-text-left">
          <p class="error" *ngIf="passwordCtl.errors.required">密码不能为空</p>
          <p class="error" *ngIf="passwordCtl.errors.minlength">密码长度不能低于8位</p>
        </div>
        <!-- <div>
          {{ passwordCtl.errors | json }}
        </div> -->
      </ion-card-content>
      <ion-button expand="block" (tap)="login()">
        登陆
      </ion-button>
      <ion-button color="secondary" fill="outline" expand="block" (tap)="goToRegisterPage()">
        没有账号？注册
      </ion-button>
    </ion-card>
  </form>
</ion-content>
