<ion-header>
  <ion-toolbar>
    <ion-title>登陆</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center ion-no-margin ion-padding" color="accent">
    <ion-card-content>
      登陆 Zhifuly, 体验更多功能
    </ion-card-content>
    <ion-button slot="end" expand="block" (tap)="goToLoginPage()">登陆</ion-button>
    <ion-button
      color="secondary"
      fill="outline"
      slot="end"
      expand="block"
      (tap)="goToRegisterPage()"
      >注册</ion-button
    >
  </ion-card>
</ion-content>
